body {
font-family: sans-serif;
margin: 0;
}

li {
list-style: none;
}

a {
  text-decoration: none;
}

.header {
height: 60px;
width: 100%;
background-color: rgba(34, 49, 52, 0.9);
position: fixed;
top: 0;
z-index: 10;

}

.header-logo {
  float: left;
  font-size: 30px;
  font-family: Impact;
  color: #f7f7f7;
  padding: 11px 50px;
}
  
.header-list li {
float: right;
font-size: 15px;
color: #f7f7f7;
padding-right: 20px;
}

li:hover {
  color: #44bd32;
}

.header-list {
padding: 8px 30px;
}
  
.main {
padding: 50px 160px;
margin: 0 auto;
height: 400px;background-image: url(https://images.unsplash.com/photo-1593031320289-9d1ff006be7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
background-size: cover;
}

.copy-container h1 {
color: white;
font-size: 50px;
font-family: sans-serif;
text-align: center;
font-weight: bold;
margin-top: 150px;
margin-bottom: 0;
}
  
.copy-container p {
margin-top: 10px;
color: white;
font-size: 20px;
font-family:sans-serif;
text-align: center;
font-weight: normal;
}

.main-wrapper {
  padding: 100px 0;
  height: 500px;
  background-color: #f7f7f7;
}

.wrap {
  padding: 0 50px;
}

.wrap {
  position: relative;
  animation-name: contents;
  animation-duration: 4s;
  animation-delay: 1s;
}
  
@keyframes contents {
0%   {opacity: 0; top:500px;}
25%  {opacity: 0.1; top:500px;}
50%  {opacity: 0.1; top:0px;}
75%  {opacity: 1; top:0px;}
100% {opacity: 1; top:0px;}
}

.photo-icon-1 img{
width: 500px;
border-radius: 20px;
}

.photo-icon-1 {
float: right;
}

.txt-icon-1 {
float: left;
width: 50%;
font-style: normal;
font-size: 15px;
text-transform: ;
}

.photo-icon-2 img {
  margin-top: 50px;
  width: 500px;
  border-radius: 20px;
}

.photo-icon-2 {
float: left;
}

.txt-icon-2 {
  margin-top: 50px;
  float: right;
  width: 50%;
}

.footer {
  height: 150px;
  background-color: rgba(34, 49, 52, 1.0);
}

.footer-logo {
  float: left;
  font-size: 30px;
  font-family: Impact;
  color: #f7f7f7;
  padding: 15px 50px;
}

.footer-list {
  padding: 11px 50px;
  float: right;
}

.footer-list li {
  color: #f7f7f7;
  font-size: 15px;
  padding-bottom: 10px;
}
